<div class="rounded-lg lg:max-w-5xl w-full mx-auto lg:py-8 py-16">
  <h3 class="text-lg font-medium text-[#282D39]">Set the Total Number of Respondents</h3>
  <p class="text-[#747884] text-xs mt-3">Define the total number of respondents for this scenario. This number determines the sample size for data collection and scoring distribution.</p>

  <div class="my-6">
    <label for="respondentsTotal" class="flex justify-between items-center text-sm font-medium text-[#5B616C] mb-2">
      Total Respondents
    </label>
    <div class="flex border border-gray-300 rounded-md shadow-sm bg-white pr-2">
      <input
      id="respondentsTotal"
      type="number"
      min="0"
      [formControl]="respondentsControl()"
      [class]="respondentsControl().invalid && respondentsControl().touched
        ? 'w-full px-4 py-2 border border-[#FF4530] focus:outline-none focus:ring-0 rounded-md'
        : 'w-full px-4 py-2 outline-none rounded-md placeholder:text-[#9297A0] text-lg'"
      [attr.aria-invalid]="respondentsControl().invalid && respondentsControl().touched ? 'true' : 'false'"
      [attr.aria-describedby]="respondentsControl().invalid && respondentsControl().touched ? 'respondents-total-error' : null"
      placeholder="Number of respondents" />
      <img src="images/globe-icon.svg" alt="scenario title globe icon" />
    </div>

    @if (respondentsControl().invalid && respondentsControl().touched) {
      <div id="respondents-total-error" class="mt-1 text-sm text-red-600" role="alert" aria-live="polite">Total number of respondents is required</div>
    }
  </div>
</div>